h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
}
body {
    background-color: black;
}
.container {
    height: 200px;
    position: relative;

}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn {
    border: none;
    background-color: black;
    font-size: 16px;
    padding: none;
    cursor: pointer;
    display: block;
    outline: none;
}
a {
    text-decoration: none;
}

/* On mouse-over */
.btn:hover {background: black;}